<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.debuggertest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".datastorage.SharedPreferencesActivity"></activity>
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".datastorage.FileActivity"/>
        <activity android:name=".button.ButtonFunctionActivity" />
        <activity android:name=".fragment.ContainerActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name=".PopupWindowActivity" />
        <activity android:name=".CustomDialogActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".AlertDiaglogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".recyclerview.LinearMultiHolderRecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".recyclerview.PuRecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity
            android:name=".recyclerview.HorRecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".listview.ListViewActivity" />                                      <!-- !!!      方法有 Standard, SingleTop, SingleTask, SingleInstance -->
        <activity
            android:name=".jump.AActivity"
            android:label="A"
            android:launchMode="standard" />                                                        <!-- TaskAffinity 可以自己设定 栈名称 -->
        <activity
            android:name=".jump.BActivity"
            android:label="B"
            android:launchMode="standard">
                                                                                                    <!--            隐式启动action-->
            <intent-filter>
                <action android:name="xxxxxxx" />
                                                                                                    <!-- intent filter 在AAction 中可以启用，用来访问BActivity,隐式启动方法 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckBoxActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NewPageActivity"
            android:label="a new page" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- android:screenOrientation=""> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>